<div class="container">
  <div class="left-side">
    <ng-masonry-grid [masonryOptions]="{ transitionDuration: '0.8s', gutter: 5 }" [useAnimation]="true"
      [useImagesLoaded]="true"
      [scrollAnimationOptions]="{ animationEffect: 'effect-7', minDuration : 0.4, maxDuration : 0.7 }">
      <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let item of masonryItems; let i = index;"
        (click)="removeItem($event)">
        <img src={{item.imgSrc}} alt="No image" />
      </ng-masonry-grid-item>
    </ng-masonry-grid>
    <!-- layoutComplete)="layoutComplete($event)"
      (removeComplete)="removeGridItem($event)" -->
    <!-- <ng-masonry-grid (onNgMasonryInit)="onNgMasonryInit($event)" (>
      <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let item of masonryItems; let i = index;"
        (click)="removeItem($event)">
        <img src={{item.imgSrc}} alt="No image" />

      </ng-masonry-grid-item>
    </ng-masonry-grid> -->
  </div>
  <div class="right-side">
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary"(click)="addItems()">Add Items</button>
      <button mat-raised-button color="accent">Prepend Items</button>
      <button mat-raised-button color="warn">Remove First Item</button>
      <button mat-raised-button>Re-Order Items</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </div>
</div>
